<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Faustina&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css"/>
    <title>Sharma Restaurants </title>
  </head>
  <body>
    <!--coding area -->

    <!-- navbar start-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Learn to Code</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar end-->

    <!--Header Section-->
    <header class="header">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-md-12 text-center">
            <h1>Sharma Restaurant</h1>
            <p>
              “Love is that condition in which the happiness of another person is essential to your own.”</p>
             <p>“Love never dies a natural death. It dies because we don’t know how to replenish its source. It dies of blindness and errors and betrayals. It dies of illness and wounds; it dies of weariness, of witherings, of tarnishings.”
            </p>
            <button class="btn btn-primary">
              Know More About Restaurants
            </button>
          </div>
        </div>
      </div>
    </header>
    <!--Header Section End-->

    <!--Start Message Section-->
    <section class="message py-5">
      <div class="container text-center">
        <h1>We cook for You.</h1>
        <p>Additional utilities can be used to adjust the alignment of buttons when horizontal. Here we’ve taken our previous responsive example and added some flex utilities and a margin utility on the button to right align the buttons when they’re no longer stacked.</p>
      </div>
    </section>
    <!--End of Message Section-->

    <!--Start Services Section-->

    <section class="services">
      <div class="container text-center">
        <h1>About Our Services</h1>
        <div class="row">
          <div class="col-md-4">
            <!--First Col-->
            <div class="card">
              <div class="card-body">
                <i class="fa fa-bar-chart myicon">
                </i>
                <h1>Quality Food</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae cupiditate fuga, laudantium aut vel iure alias repellat deleniti, aspernatur debitis aliquid quos sapiente inventore? Sapiente unde fugiat ad dolorum molestias.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!--second col-->
            <div class="card">
              <div class="card-body">
                <i class="fa fa-bell-o myicon">
                </i>
                <h1>Home Delivery</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae cupiditate fuga, laudantium aut vel iure alias repellat deleniti, aspernatur debitis aliquid quos sapiente inventore? Sapiente unde fugiat ad dolorum molestias.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!--third col-->
            <div class="card">
              <div class="card-body">
                <i class="fa fa-braille myicon">
                </i>
                <h1>Testy Food</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae cupiditate fuga, laudantium aut vel iure alias repellat deleniti, aspernatur debitis aliquid quos sapiente inventore? Sapiente unde fugiat ad dolorum molestias.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--End services section-->

     <!--Start Message Section-->
     <section class="message py-5">
      <div class="container text-center">
        <h1>Order Now!</h1>
        <p>Additional utilities can be used to adjust the alignment of buttons when horizontal. Here we’ve taken our previous responsive example and added some flex utilities and a margin utility on the button to right align the buttons when they’re no longer stacked.</p>
      <button class="btn btn-primary">Order Now</button>
      </div>
    </section>
    <!--End of Message Section-->

    <!--Start Contact Section-->
    <section class="contact">
      <div class="container text-center py-5">
        <h1>Lest's Get in Touch!</h1>
        <p>Additional utilities can be used to adjust the alignment of buttons when horizontal. Here we’ve taken our previous responsive example and added some flex utilities and a margin utility on the button to right align the buttons when they’re no longer stacked.</p>
        <i class="fa fa-phone myicon text-warning"></i>
        <i class="fa fa-heart myicon text-danger"></i>
        <p>+919822567643</p>
      </div>
    </section>
    <!--End Contact Section-->

    <!--link section-->
    <section class="message py-5">
      <div class="container text-center">
        <h1>Important Links</h1>
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p>Instagram</p>
              <br>
              <p>Facebook</p>
              <br>
              <p>Google</p>
              <br>
              <p>Twitter</p>
            </div>
            <div class="col-md-6">
              <p>Instagram</p>
              <br>
              <p>Facebook</p>
              <br>
              <p>Google</p>
              <br>
              <p>Twitter</p>
            </div>
          </div>
        </div>
      <button class="btn btn-primary">Thanks</button>
      </div>
    </section>
    <!--End Link Section-->

    <!--Footer Section-->
    <section class="footer bg-dark">
      <div class="container py-5 text-center text-white">
        <p>Copyright 2021 - ShivamSharmaHTML</p>
      </div>
    </section>
    <!--End of footer Section-->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
    <script src="js/shivam.js"></script>
  </body>
</html>